@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #787A91;
}

a {
    text-decoration:none;
}

.heading {
    text-align: center;
    color: #fff;
    background-color:#0F044C;
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:2% 38% 0 38%;
    padding: 10px;
    border-radius: 50px;
    border-style: solid;
    border-color: #EEEEEE;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 7% 0 0 0;
}

.lists :hover{
    background-color: #b9b9b9;
}

.list1 {
    font-family:'Cinzel', serif;
    background-color: #EEEEEE;
    padding: 3.5% 4% 3.5% 4%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.list2 {
    font-family:'Cinzel', serif;
    background-color:#EEEEEE;
    padding:3.5% 3% 3.5% 3%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}  

li {
    font-weight: 500;
}

.copyright {
    padding: 10px;
}

.social {
       background-color: #EEEEEE;  
       margin:0 42% 0 42%;
       border-radius: 50px;
       border-color: #000;
}

img {
    margin: 5px;
}
 
.fotter {
    text-align: center;
    margin: 7% 0 0 0;
    padding: 10px;
    color: #fff;
    background-color:#0F044C;
    border-style: solid;
    border-color: black;

}




